.places {
  margin: 0 auto;
  padding: 92px 0;
  max-width: 984px;
  display: flex;
  flex-direction: column;
  row-gap: 80px;
}

@media screen and (min-width: 840px) and (max-width: 1279px) {
  .places {
    max-width: calc(100vw - 96px);
  }
}

@media screen and (min-width: 633px) and (max-width: 839px) {
  .places {
    padding: 88px 0;
    max-width: calc(100vw - 48px);
    gap: 73px;
  }
}

@media screen and (max-width: 632px) {
  .places {
    padding: 64px 0;
    width: 100%;
    gap: 50px;
  }
}

