.intro {
  margin: 0 auto;
  padding-top: 92px;
  max-width: 984px;
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
  .intro {
    max-width: calc(100vw - 96px);
  }
}

@media screen and (min-width: 633px) and (max-width: 1023px) {
  .intro {
    padding-top: 88px;
    max-width: calc(100vw - 48px);
  }
}

@media screen and (max-width: 632px) {
  .intro {
    padding-top: 64px;
    max-width: calc(100vw - 32px);
  }
}
