.footer {
  margin: 0 auto;
  padding-top: 92px;
  padding-bottom: 24px;
  display: flex;
  flex-direction: row;
  max-width: 1184px;
  align-items: baseline;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .footer {
    padding-top: 88px;
    width: calc(100vw - 48px);
    max-width: 928px;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    padding-top: 88px;
    width: calc(100vw - 48px);
    max-width: 720px;
  }
}

@media screen and (max-width: 632px) {
  .footer {
    padding-top: 64px;
    width: calc(100vw - 32px);
    flex-direction: column;
  }
}
